@import "tailwindcss";

:root {
  color-scheme: dark;
  transition: smooth with ease-in-out;
}

body {
  font-family: "poppins", sans-serif; /*system-ui, Avenir, Helvetica, Arial*/
  color: #fdfdfd;
  background-color: black;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  transform: scale(120%);
}
/* button:hover {
  border-color: #7e7b7bcf;
  transform: scale(120%);
  transition: border-color 0.3s ease;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

h2 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 32px;
    line-height: 46px;
  }
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: grey;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
} */
